::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 6px rgba(133, 32, 32, 0.3); */
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 10px;
}

.content-home {
    padding-top: 101px;
    overflow: auto;
}

.tabela-app {
    height: calc(100vh - 50px);
}

table tr:nth-child(even) {
    background: rgb(249, 249, 249);
}

.shadow-header {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 12px;
}